{% block periodicity_widget %}
    <div class="row">
        <div class="col-xs-4">
            {{ form_widget(form.count) }}
        </div>
        <div class="col-xs-8">
            {{ form_widget(form.period) }}
        </div>
    </div>
{% endblock periodicity_widget %}