<a
    href="{{ url('admin_app_account_account_account_transaction_list', {id: object.id}) }}"
    class="btn btn-sm btn-default view_link"
    title="{{ 'Account.list.action.transactions'|trans({}, 'admin') }}"
>
    <i class="fas fa-list" aria-hidden="true"></i>
    {{ 'Account.list.action.transactions'|trans({}, 'admin') }}
</a>